* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, 
        rgba(255,255,255,1) 0%, 
        rgba(255,255,255,1) 40%, 
        rgba(255,255,255,1) 49%, 
        rgba(224,224,224,1) 100%);
    border-bottom: 1.5px solid #fff;
    height: 50px;
    position: relative;
}

nav {
    display: none;
}

#company-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0 10px;
    position: relative;
    float: left;
}

.logo {
    background-color: #129ae6;
    box-sizing: border-box;
    color: #fff;
    margin: 0 0 0 10px;
    padding: 5px;
}

.logo h2 {
    font-size: 18px;
    font-weight: 900;
}

.company-motto h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 5px;
}

.company-motto h4 {
    color: #5a5a5a;
    font-size: 10px;
    font-weight: 300;
    margin-left: 5px;
    text-transform: uppercase;
}

#hambrgr-btn {
    background-color: transparent;
    border: none;
    height: 35px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
}

#mobile-nav {
    background: transparent;
    background-color: #129ae6;
    color: #fff;
    font-size: 32px;
    padding: 0px 0px 20px 20px;
    position: absolute;
    top: 0px;
    right: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
}

@keyframes xBtn {
    0% { transform: translate(0, 45px); }
    50% { transform: translate(0, 0px); }
    75% { transform: scale(1.2, 1.2); }
    100% { transform: scale(1, 1); }
}

#close-div {
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    left: 35px;
    animation-name: xBtn;
    animation-duration: 2s;
}

#close-div svg {
    height: 54px;
    width: 54px;
    stroke: #fff;
    transition: 0.3s ease-in-out;
}

#close-div:hover svg {
    transform: scale(1.2, 1.2);
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mobile-nav ul li {
    margin-top: 0px;
    padding: 15px 10px;
    text-align: center;
    width: 50%;
}

#mobile-nav ul li a {
    transition: 0.3s ease-in-out;
}

#mobile-nav ul li a:hover {
    letter-spacing: 1.5px;
}

.icon-tabler-align-justified {
    height: 25px;
    width: 25px;
}

#phone-div {
    display: none;
}

#hero-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    text-align: center;
    text-shadow: 0 0 5px #000;
    width: 100%;
}

#hero-section::before {
    content: ''; 
    filter: contrast(92%);
    height: 100vh;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
        
    background: #fff url('../imgs/heroHouseMobileCopy.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#hero-section h1 {
    font-size: 36px;
    letter-spacing: 1.2px;
}

#hero-section h3 {
    font-size: 18px;
    margin-top: 15px;
}

#find-out-lrg-btn {
    background-color: #129ae6;
    border: 2px solid #129ae6;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 50px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}


#find-out-lrg-btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #129ae6;
    font-weight: 600;
}

#small-about-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.small-header {
    margin-top: 25px;
    text-align: center;
    width: 75%;
}

.section-title {
    color: #154b6d;
    font-size: 20px;
    font-weight: 800;
}

.tagline-h4 {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.small-blue {
    background-color: #129ae6;
    border: none;
    border-radius: 25px;
    height: 4px;
    margin: 20px auto 0 auto;
    width: 50%;
}

#work-tiles-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    width: 100%;
}

.work-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    width: 60%;
}

.work-tile svg {
    margin-bottom: 10px;
    stroke: #129ae6;
    stroke-width: 1px;
}
.work-tile h2 {
    color: #154b6d;
    font-size: 24px;
    font-weight: 800;
}

.work-tile p {
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.find-out-btn {
    background-color: #129ae6;
    border: 2px solid #129ae6;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    width: 90%;
}

.find-out-btn:hover {
    background-color: #fff;
    color: #129ae6;
    font-weight: 600;
}

#experience-section {
    border-top: 1px solid #e7e8eb;
    border-bottom: 1px solid #e7e8eb;
    height: auto;
    padding: 0 0 85px 0;
    width: 100%;
}

.hidden-img-mobile {
    display: none;
}

#exp-img-div {
    width: 100%;
}

#exp-img-div img {
    width: 100%;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto;
    width: 80%;
}

.section-title {
    font-size: 24px;
    font-weight: 800;
    margin: 20px auto 0 auto;
    max-width: 350px;
    text-align: center;
}

.section-content p {
    color: #3a3a3a;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.whitebkg-section {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 55px;
}

.whitebkg-section img {
    width: 100%;
}

#dreams-section {
    display: flex;
    flex-direction: column-reverse;
}

#past-project-section {
    padding-top: 50px;
    width: 100%;
}

.centered-div {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#project-div {
    margin-top: 50px;
    width: 100%;
}

#project-div img {
    margin-bottom: -5px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

#project-div img:hover {
    filter: brightness(110%);
}

#partner-section {
    background-color: #fff;
    padding-top: 50px;
}

#partner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: auto;
    width: 100%;
}

#partner-div a {
    width: 60%;
}

#partner-div img {
    height: auto;
    margin-bottom: 50px;
    width: 100%;
}

footer {
    background-color: #07669c;
    height: auto;
}

#blue-quote-div {
    background-color: #07669c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

#quote-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
}

#quote-content h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#quote-content h6 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#blue-quote-div button {
    background-color: #129ae6;
    border-radius: 2px;
    border: 2px solid #129ae6;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
}

#blue-quote-div button:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #129ae6;
    font-weight: 600;
}

#footer-company-div {
    display: none;
}

.footer-links-div, .footer-titles {
    display: none;
}

#footer-buttons-div {
    height: auto;
    width: 100%;
}

#footer-buttons-div ul {
    height: auto;
    width: 100%;
}

#footer-buttons-div ul li {
    display: inline-block;
    margin: 15px auto 15px auto;
    height: auto;
    width: 24%;
}

#footer-buttons-div ul li a {
    font-size: 0;
    width: 100%;
}

footer svg {
    align-self: center;
    display: block;
    margin: auto;
    stroke: #fff;
}

.blue-bkg {
    background-color: #f4f8fb;
}

@media (min-width: 550px) {
    .find-out-btn {
        width: 200px;
    }
}

@media (min-width: 600px) {
    .work-tile {
        width: 300px; 
    }
}

@media (min-width: 750px) {

    header {
        height: 75px;
        width: 100%;
    }

    #hambrgr-btn {
        display: none;
    }

    #phone-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        float: right;
        height: 75px;
        margin: 8px 30px auto 0;
        transition: 0.3s ease-in-out;
        width: 150px;
    }

    #phone-div:hover {
        color: #129ae6;
    }

    #phone-div svg {
        height: 36px;
        width: 36px;
        stroke: #129ae6;
    }

    #phone-div a {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    #phone-info-div h3 {
        font-size: 16px;
    }

    #phone-info-div h4 {
        font-size: 12px;
    }

    #large-nav {
        display: inline-block;
        height: 100%;
        margin: 0 0 0 auto;
        width: auto;
    }

    #large-nav ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-end;
        height: auto;
        max-width: 600px;
        position: absolute;
        top: 35px;
        right: 180px;
    }

    #large-nav ul li {
        margin-left: 5px;
        text-align: center;
        width: 70px;
    }

    #large-nav ul li a {
        color: #2a2a2a;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        margin-top: 50%;
        margin-bottom: auto;
        height: auto;
        transition: 0.3s ease-in-out;
        vertical-align: center;
    }

    #large-nav ul li a:hover {
        color: #129ae6;
    }

    #hero-section {
        height: calc(85vh - 75px);
    }

    #hero-section::before {
        background: #fff url('../imgs/heroHouse.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
        height: 85vh;
        width: 100vw;
    }

    #work-tiles-div {
        flex-direction: row;
    }

    .work-tile {
        margin-left: auto;
        margin-right: auto;
        width: 28%;
        max-width: 350px;
    }
    
    .work-tile svg {
        stroke-width: 1.5px;
    }
    
    .work-tile .find-out-btn {
        padding: 10px;
        width: 125px;
    }

    #experience-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 400px;
        padding: 50px 0;
    }

    #exp-img-div {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        column-gap: 5px;
        row-gap: 5px;

        height: 100%;
        margin-left: auto;
        width: 45%;
    }

    #construction-img {
        grid-column: 1/1;
        grid-row: 1/3;

        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    #built-house-img {
        grid-column: 2/2;
        grid-row: 1/1;

        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    #blueprints-img {
        grid-column: 2/2;
        grid-row: 2/2;

        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .hidden-img-mobile {
        display: block;
    }

    .section-content {
        height: 100%;
        margin: 0 auto 0 3%;
        width: 45%;
        max-width: 400px;
        position: relative;
    }

    .section-title {
        font-size: 32px;
        margin: 0;
        max-width: 100%;
        text-align: left;
        width: 100%;
    }

    .section-content p {
        font-size: 14px;
        text-align: left;
    }

    .section-content .find-out-btn {
        align-self: start;
        margin-top: 0;
        padding: 10px;
        width: 125px;
    }

    .right-btn {
        position: absolute;
        top: 90%;
        right: 0;
    }

    #dreams-section {
        flex-direction: row;
        justify-content: flex-end;
    }

    #dreams-section .section-content {
        margin: 0 3% auto 0;
        text-align: right;
    }

    #dreams-section .section-content p {
        text-align: right;
    }

    .right-justify {
        text-align: right;
    }

    .whitebkg-section {
        height: 400px;
        padding: 50px 0;
    }

    .whitebkg-section img {
        height: 100%;
        object-fit: cover;
        width: 50%;
    }

    #handle-section {
        display: flex;
        flex-direction: row;
    }

    #past-project-section {
        height: auto;
    }

    #project-div {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        column-gap: 5px;
        row-gap: 5px;

        height: auto;
        min-height: 300px;
        max-height: 500px;
        margin: 25px auto;
        padding-bottom: 50px;
        width: 90%; 
    }

    #project-div img {
        height: 100%;
    }

    #yellow-house {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #yellow-house img {
        height: 100%;
    }

    #partner-div {
        flex-direction: row;
    }
    
    #partner-div a {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
    
    #partner-div img {
        height: auto;
        margin-bottom: 50px;
        width: 100%;
    }

    .non-left-text {
        text-align: center;
    }

    footer {
        background-color: #fff;
    }
    
    #blue-quote-div {
        flex-direction: row;
        height: 100px;
    }
    
    #quote-content {
        width: 55%;
    }
    
    #quote-content h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    #quote-content h6 {
        font-size: 14px;
        margin-bottom: 0;
    }
    
    #blue-quote-div button {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 25px;
    }

    #footer-content {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 50px 0;
    }
    
    #footer-company-div {
        display: block;
        width: 20%;
    }

    #bottom-logo-div {
        display: flex;
    }

    #bottom-logo-div .logo {
        display: inline-block;
        margin: 0;
    }

    #bottom-logo-div .logo h2 {
        font-size: 15px;
    }

    #bottom-logo-div .company-motto h3 {
        font-size: 14px;
        margin: 0 0 0 5px;
    }

    #bottom-logo-div .company-motto h4 {
        color: #5a5a5a;
        font-size: 8px;
        margin: 0 0 0 5;
    }

    #footer-company-div p {
        color: #5a5a5a;
        font-size: 12px;
        margin-top: 10px;
    }

    .footer-links-div {
        display: block;
        width: 20%;
    }

    .footer-links-div a {
        color: #5a5a5a;
        font-size: 11px;
        font-weight: 500;
        transition: 0.3s ease-in-out;
    }

    .footer-links-div a:hover {
        color: #2a2a2a;
        font-size: 12px;
        font-weight: 700;
    }

    .footer-titles {
        color: #154b6d;
        display: block;
        font-size: 14px;
        font-weight: 600;
    }
    
    .footer-links-div:hover .footer-titles {
        color: #129ae6
    }
    
    #footer-buttons-div {
        height: auto;
        width: 20%;
    }

    #footer-buttons-div:hover .footer-titles {
        color: #129ae6;
    }
    
    #footer-buttons-div ul {
        height: auto;
        padding-top: 5px;
    }
    
    #footer-buttons-div ul li {
        display: block;
        height: auto;
        margin: 0;
        width: 100%;
    }
    
    #footer-buttons-div ul li a {
        color: #5a5a5a;
        font-size: 11px;
        font-weight: 500;
        transition: 0.3s ease-in-out;
    }

    #footer-buttons-div ul li a:hover {
        color: #2a2a2a;
        font-size: 12px;
        font-weight: 700;
    }
    
    footer svg {
        display: inline-block;
        height: 15px;
        width: 15px;
        stroke: #129ae6;
        vertical-align: text-bottom;
    }

    
}

@media (min-width: 800px) {
    .section-content p {
        font-size: 14.5px;
    }
}
